:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;

  /* size */
  --size-button: 60px;

  /* font size */
  --size
}

body {
  height: 100vh;
  background-color: #3f454d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo:hover{
  transform: scale(1.1);
} 

.button{
  display: flex;
  align-items: center;
}
.btn {
  background-color: transparent;
  border: transparent;
  margin-right: 10px;
}

.btn:hover{
  transform: scale(1.1);
}

.imgbtn {
  width: var(--size-button);
  height: var(--size-button);
  font-size: 18px;
}

.colorbtn{
  padding: 10px;
}

.yellow {
  background-color: var(--color-yellow);
}

.blue {
  background-color: var(--color-blue);
}

.pink {
  background-color: var(--color-pink);
}

.items{
  list-style: none;
  width: 60%;
  height: 60%;
  padding-left: 0;
  overflow-y: scroll;
}

.item{
  background-color: var(--color-white);
  border-radius: 3px;
  display: flex;
  align-items: center;
  padding:10px;
  margin-bottom: 7px;
}

.item_thumnail{
  height: var(--size-button);
}

.item_descrition{
  padding-left: 25px;
}